#loginBody {
    width: 87vw;
    height: 68vh;
    margin-top: 50px;
    background-color: lightsteelblue;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bodyTitle {
    font-size: 70px;
}

#portfolio-parent {

}

#portfolio {
    height: 50%;
    width: 50%;
    border-radius: 20px;
}